1.importing the libraries

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.io as pio

2.Importing the dataset

In [46]:
raw_df=pd.read_csv('Zomato Chennai Listing .csv')

In [48]:
raw_df.head()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

3. Getting Basic Information about the Dataset

In [51]:
raw_df.shape

(12032, 12)

In [53]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Zomato URL             12032 non-null  object
 1   Name of Restaurant     12032 non-null  object
 2   Address                12032 non-null  object
 3   Location               12032 non-null  object
 4   Cuisine                12032 non-null  object
 5   Top Dishes             12032 non-null  object
 6   Price for 2            12032 non-null  float64
 7   Dining Rating          6681 non-null   float64
 8   Dining Rating Count    11812 non-null  object
 9   Delivery Rating        6181 non-null   float64
 10  Delivery Rating Count  11812 non-null  object
 11  Features               12032 non-null  object
dtypes: float64(3), object(9)
memory usage: 1.1+ MB

In [55]:
raw_df.describe()

        Price for 2  Dining Rating  Delivery Rating
count  12032.000000    6681.000000      6181.000000
mean     397.611370       3.387756         3.805290
std      332.045938       0.558181         0.374213
min       40.000000       0.300000         0.300000
25%      200.000000       3.100000         3.600000
50%      300.000000       3.500000         3.900000
75%      450.000000       3.800000         4.000000
max     5000.000000       4.900000         4.700000

4.cleaning the dataset

In [57]:
# Checking for Null records
raw_df.isna().sum()

Zomato URL                  0
Name of Restaurant          0
Address                     0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [59]:
# drop the URL and address
raw_df.drop(['Zomato URL','Address'],axis=1,inplace=True)

In [61]:
raw_df.shape

(12032, 10)

In [63]:
raw_df.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

In [65]:
#Duplicate records identification
data=raw_df['Name of Restaurant']=='Name of Restaurant'
raw_df_duplicate=raw_df[data]
raw_df_duplicate

Empty DataFrame
Columns: [Name of Restaurant, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [67]:
raw_df.isnull().sum()

Name of Restaurant          0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [69]:
# Replace null values with NA
raw_df.fillna("NA",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16044\3840373266.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  raw_df.fillna("NA",inplace=True)

In [71]:
raw_df.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [73]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  object
 6   Dining Rating Count    12032 non-null  object
 7   Delivery Rating        12032 non-null  object
 8   Delivery Rating Count  12032 non-null  object
 9   Features               12032 non-null  object
dtypes: float64(1), object(9)
memory usage: 940.1+ KB

In [75]:
# categorial to 0 meaningfull value
raw_df['Dining Rating'].value_counts()

Dining Rating
NA     5351
3.6     584
3.5     553
3.7     525
3.4     500
3.3     463
3.8     460
3.2     433
3.9     379
3.1     363
2.0     354
3.0     302
4.0     288
2.9     257
4.1     221
2.8     192
4.2     142
2.7     138
4.3     105
2.6      99
2.5      71
4.4      61
2.4      46
4.5      36
2.3      32
2.2      20
4.6      17
4.7      12
2.1      10
4.9       7
4.8       4
1.9       3
1.7       2
0.3       1
1.0       1
Name: count, dtype: int64

In [77]:
raw_df['Dining Rating'].replace(to_replace=['NA'],value=0,inplace=True)

In [79]:
raw_df['Dining Rating Count'].value_counts()

Dining Rating Count
Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
877                             1
897                             1
872                             1
1197                            1
224                             1
Name: count, Length: 794, dtype: int64

In [81]:
raw_df['Dining Rating Count'].replace(to_replace=['Does not offer Dining','NA','Not enough Dining Reviews'],value=0,inplace=True)

In [83]:
raw_df['Delivery Rating'].value_counts()

Delivery Rating
NA     5851
3.9    1383
3.8     701
4.0     570
3.7     559
4.1     468
3.6     465
4.2     401
3.5     314
4.3     277
3.4     259
3.3     189
4.4     128
3.2      93
3.1      79
3.0      63
4.5      55
2.9      39
2.8      26
4.6      24
2.7      19
2.6      17
2.5       9
0.3       8
2.4       7
2.3       5
2.2       5
2.0       5
1.8       5
4.7       4
2.1       2
1.6       1
1.5       1
Name: count, dtype: int64

In [85]:
raw_df['Delivery Rating'].replace(to_replace=['NA'],value=0,inplace=True)

In [87]:
raw_df['Delivery Rating Count'].value_counts()

Delivery Rating Count
Not enough Delivery Reviews    3379
Does not offer Delivery        2252
NA                              220
27                               34
37                               30
                               ...
3530                              1
7705                              1
6374                              1
1773                              1
1617                              1
Name: count, Length: 2282, dtype: int64

In [89]:
raw_df['Delivery Rating Count'].replace(to_replace=['Does not offer Delivery','NA','Not enough Delivery Reviews'],value=0,inplace=True)

In [93]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  float64
 6   Dining Rating Count    12032 non-null  object
 7   Delivery Rating        12032 non-null  float64
 8   Delivery Rating Count  12032 non-null  object
 9   Features               12032 non-null  object
dtypes: float64(3), object(7)
memory usage: 940.1+ KB

In [95]:
# Replacing the text values with '0'
raw_df['Top Dishes'].fillna(0,inplace=True)

In [97]:
# Invalid  Dishes converted to uncategorised Dishes Dishes
raw_df['Top Dishes'].replace(to_replace=['Invalid '],value='uncategorised Dish',inplace=True)

In [103]:
# Changing Data Type of the numerical columns
raw_df['Dining Rating Count']=raw_df['Dining Rating Count'].astype('float64')
raw_df['Dining Rating']=raw_df['Dining Rating'].astype('int64')
raw_df['Delivery Rating Count'] = raw_df['Delivery Rating Count'].astype('float64')
raw_df['Delivery Rating ']=raw_df['Delivery Rating'].astype('int64')

In [105]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  int64
 6   Dining Rating Count    12032 non-null  float64
 7   Delivery Rating        12032 non-null  float64
 8   Delivery Rating Count  12032 non-null  float64
 9   Features               12032 non-null  object
 10  Delivery Rating        12032 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.0+ MB

In [33]:
dataset.isna().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
Delivery Rating          0
dtype: int64

In [34]:
dataset.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Delivery Rating
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4,1500.0,4.3,9306.0,"['Home Delivery', 'Indoor Seating']",4
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4,3059.0,4.1,39200.0,"['Home Delivery', 'Free Parking', 'Table booki...",4
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4,1361.0,4.4,10500.0,"['Home Delivery', 'Indoor Seating']",4
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4,1101.0,4.0,11200.0,"['Home Delivery', 'Free Parking', 'Card Upon D...",4
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4,617.0,4.1,22400.0,"['Home Delivery', 'Indoor Seating']",4

In [35]:
# Finding those restaurant whose has 0 Rating 
useless_data=(dataset['Dining Rating']==0.0)|(dataset['Delivery Rating']==0.0)
dataset[useless_data]

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Delivery Rating
6,Bai Veetu Kalyanam,Navallur,['Biryani'],"['Bread Halwa', ' Mutton Biryani', ' Brinjal G...",350.0,0,0.0,4.3,1061.0,['Home Delivery'],4
15,Welcome Hotel,Purasavakkam,"['South Indian', ' Desserts', ' Beverages']","['Pongal', ' Podi Dosa', ' Idli Sambar', ' Vad...",300.0,4,1094.0,0.0,0.0,"['Breakfast', 'Vegetarian Only', 'Indoor Seati...",0
18,Wire Room Bar & Kitchen,"Phoenix Market City, Velachery","['Continental', ' Asian']","['Cocktails', ' Salad', ' Beer', ' Tikka', ' P...",2000.0,4,354.0,0.0,0.0,"['Full Bar Available', 'Mall Parking', 'Dance ...",0
23,BFF 2.0,RA Puram,"['North Indian', ' Continental', ' Italian']","['Crispy Chicken', ' Cocktails', ' Pizza', ' N...",1500.0,4,464.0,0.0,0.0,"['Full Bar Available', 'Indoor Seating', 'Nigh...",0
77,Al Dhareeq Beef Biriyani,Kodambakkam,['Biryani'],['Beef Biryani'],300.0,0,0.0,3.9,19600.0,['Home Delivery'],3
...,...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,0,0.0,0.0,0.0,"['Breakfast', 'Delivery Only']",0
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,0,0.0,0.0,0.0,"['Breakfast', 'Delivery Only']",0
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,0,0.0,0.0,0.0,"['Breakfast', 'Delivery Only']",0
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,0,0.0,0.0,0.0,"['Breakfast', 'Delivery Only']",0
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,0,0.0,0.0,0.0,"['Breakfast', 'Delivery Only']",0

In [41]:
useless_dataset=dataset[~useless_dataset_rating]

NameError: name 'useless_dataset_rating' is not defined

In [ ]:
dataset=pd.merge(dataset_unwanted_deliv_rating,dataset_unwanted_dining_rating)